@tailwind base;
@tailwind components;
@tailwind utilities;
@import url('https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Karla:ital,wght@0,200..800;1,200..800&display=swap');

body {
  margin: 0;
  font-family: 'Poppins',sans-serif;
  font-weight: 600;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}
/* For Webkit browsers (Chrome, Safari, Edge) */
input[type="range"].custom-slider::-webkit-slider-thumb {
  appearance: none;
  height: 20px;
  width: 20px;
  border-radius: 50%;
  background-color: #6366f1;
  border: 2px solid #6366f1; /* indigo-500 */
  cursor: pointer;
  transition: transform 0.2s ease;
  margin-top: -5px; /* center the thumb with the track */
}

input[type="range"].custom-slider::-webkit-slider-thumb:hover {
  transform: scale(1.1);
}

/* For Firefox */
input[type="range"].custom-slider::-moz-range-thumb {
  height: 20px;
  width: 20px;
  border-radius: 50%;
  background-color: #6366f1;
  border: 2px solid #6366f1;
  cursor: pointer;
  transition: transform 0.2s ease;
}
input[type="range"].custom-slider::-moz-range-thumb:hover {
  transform: scale(1.1);
}
